python-dotenv
google-generativeai
google-ai-generativelanguage
langchain
langchain-google-genai
langchain_community
langchain-ollama
langchain-huggingface
chromadb
sentence-transformers
transformers
python-dotenv
rich
pydantic
requests
typing-extensions
numpy
langchain_huggingface